.footer {
  color: white;
  background-color: #353535;
  padding: 22px;
  .footer__title {
    font-weight: 400;
    font-size: 18px;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  svg {
    width: 137px;
    color: white;
  }
  .link-mail {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    .footer__menu {
      flex-direction: row;
      gap: 20px;
    }
  }
}
