.menu {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.green-line {
  border-bottom: 4px solid #99e2d0;
}
.menu__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__card {
  display: flex;
  align-items: center;
  border: 1px;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
  &__body {
    padding: 12px;
    width: 100%;
    user-select: none;
    transition: width ease-in-out 350ms;
    position: relative;
    &__title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      transition: width ease-in-out 350ms;
    }
    &__text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 5px;
      transition: width ease-in-out 350ms;
      & p {
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-style: normal;
        font-weight: 300;
        font-size: 15.0431px;
        line-height: 18px;
        width: 287px;
      }
      & span {
        font-weight: 700;
      }
    }
    &__icon {
      background-color: #99e2d0;
      position: absolute;
      top: 0;
      right: -60px;
      width: 60px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: transform ease-in-out 350ms;
      .fa-circle-check {
        color: white;
        font-size: 22px;
      }
    }
  }
  &:hover {
    .menu__card__body__title,
    .menu__card__body__text {
      width: calc(100% - 60px);
    }
    .fa-circle-check {
      animation: 0.3s 0.2s cubic-bezier(0, 0.4, 0.25, 1) rotate-check;
    }
    .menu__card__body__icon {
      transform: translateX(-60px);
    }
  }
}
@keyframes rotate-check {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(1turn);
  }
}
