.menu {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.menu__title {
  border-bottom: 1px solid;
}
.menu__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__card {
  border: 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menu__card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
