@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

.shrikaland {
  font-family: "shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}

* {
  font-family: "Roboto";
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.button__order {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.button:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

@media (min-width: 800px) {
  .button__order {
    margin: 0 100px;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.button__order {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.button:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

@media (min-width: 800px) {
  .button__order {
    margin: 0 100px;
  }
}
.fonctionnement {
  padding: 48px 20px;
}
.fonctionnement .fonctionnement__btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 26px;
}
.fonctionnement .fonctionnement__btns .fonctionnement__btn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.fonctionnement .fonctionnement__btns .fonctionnement__icon {
  color: black;
}
.fonctionnement
  .fonctionnement__btns
  .fonctionnement__btn:hover
  .fonctionnement__icon {
  color: #9356dc;
}
.fonctionnement .fonctionnement__btns .fonctionnement__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.fonctionnement .fonctionnement__btns .fonctionnement__text {
  color: black;
}
.fonctionnement .fonctionnement__btn-content {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  left: -30px;
}
.fonctionnement .fonctionnement__btn-content .icon {
  margin-left: 15px;
}

@media (min-width: 800px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .fonctionnement .fonctionnement__title {
    padding-left: 50px;
  }
  .fonctionnement .fonctionnement__btns {
    flex-direction: row;
    width: 90%;
    justify-content: center;
  }
  .fonctionnement .fonctionnement__btn {
    width: 323px;
  }
}
.menu-header {
  display: flex;
  align-items: center;
  padding: 15px;
}
.menu-header .menu-header__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  left: 10px;
  width: 5%;
  text-align: center;
}
.menu-header .menu-header__logo {
  display: flex;
  justify-content: center;
  width: 90%;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 54px 20px;
  margin: auto;
}

.restaurants__list-card {
  display: flex;
  flex-direction: column;
}
.restaurants__list-card .list-card__row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__list-card .restaurants__card {
  display: flex;
  flex-direction: column;
  border: 1px;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  color: black;
  max-width: 500px;
  height: 200px;
}
.restaurants__list-card .restaurants__card .restaurants__img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 120px;
}
.restaurants__list-card .restaurants__card .restaurants__card-text {
  padding: 12px;
}
.restaurants__list-card .restaurants__card .restaurants__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__list-card .restaurants__card .restaurants__alert {
  position: relative;
}
.restaurants__list-card .restaurants__card .restaurants__alert span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  bottom: 150px;
  position: absolute;
  right: 10px;
  border: 1px;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 2px;
  color: #008766;
}

@media (min-width: 650px) {
  .restaurants {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .restaurants__list-card {
    align-items: center;
    width: 90%;
    padding-top: 40px;
    gap: 40px;
  }
  .restaurants__list-card .list-card__row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 90px;
    width: 100%;
  }
  .restaurants__list-card .restaurants__card {
    flex: 1;
    height: 250px;
  }
  .restaurants__list-card .restaurants__card .restaurants__img {
    height: 180px;
  }
  .restaurants__list-card .restaurants__card .restaurants__alert span {
    bottom: 200px;
  }
}
.reservation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 287px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.reservation__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.reservation__btn .text__btn {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

@media (min-width: 800px) {
  .reservation {
    gap: 50px;
  }
}
.hearth-icon {
  margin-right: 20px;
  font-size: 24px;
}
.hearth-icon .hidden {
  display: none;
}

.hearth-icon:hover .visible {
  display: none;
}

.hearth-icon:hover .hidden {
  display: block;
  background: linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  background: -webkit-linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media (min-width: 800px) {
  .hearth-icon {
    left: -150px;
    top: 200px;
  }
}
.footer {
  color: white;
  background-color: #353535;
  padding: 22px;
}
.footer .footer__title {
  font-weight: 400;
  font-size: 18px;
}
.footer .footer__menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer svg {
  width: 137px;
  color: white;
}
.footer .link-mail {
  text-decoration: none;
  color: white;
}

@media (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  .footer .footer__menu {
    flex-direction: row;
    gap: 20px;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .header__img {
  padding: 14px 0 5px 0;
}
.header .header__title {
  background-color: #eaeaea;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 17px;
}

@media (min-width: 800px) {
  .header .header__img {
    padding-top: 28px;
    padding-bottom: 30px;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  animation: loader 1500ms 3s forwards;
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.wrapper .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.green-line {
  border-bottom: 4px solid #99e2d0;
}

.menu__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__card {
  display: flex;
  align-items: center;
  border: 1px;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}
.menu__card__body {
  padding: 12px;
  width: 100%;
  user-select: none;
  transition: width ease-in-out 350ms;
  position: relative;
}
.menu__card__body__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transition: width ease-in-out 350ms;
}
.menu__card__body__text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  transition: width ease-in-out 350ms;
}
.menu__card__body__text p {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
  width: 287px;
}
.menu__card__body__text span {
  font-weight: 700;
}
.menu__card__body__icon {
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform ease-in-out 350ms;
}
.menu__card__body__icon .fa-circle-check {
  color: white;
  font-size: 22px;
}
.menu__card:hover .menu__card__body__title,
.menu__card:hover .menu__card__body__text {
  width: calc(100% - 60px);
}
.menu__card:hover .fa-circle-check {
  animation: 0.3s 0.2s cubic-bezier(0, 0.4, 0.25, 1) rotate-check;
}
.menu__card:hover .menu__card__body__icon {
  transform: translateX(-60px);
}

@keyframes rotate-check {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 220px;
  margin: auto;
}

.main__restaurant {
  padding: 10px 20px;
  border: 1px;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: 220px;
  background-color: #f7f7f7;
}

.main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__img {
  object-fit: cover;
  height: 275px;
  width: 375px;
  left: 0;
  position: absolute;
}

@media (min-width: 800px) {
  .main {
    max-width: 1920px;
  }
  .main__img {
    width: 100%;
  }
  .main__restaurant {
    margin: 0 100px;
  }
}

/*# sourceMappingURL=style.css.map */
