.button {
  padding: 10px;
  border: 1px solid;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  text-decoration: none;
  color: white;
  width: 50%;
}
.button__order {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

@media (min-width: 376px) {
  .button__order {
    margin: 0 100px;
  }
}
