.fonctionnement {
  padding: 48px 20px;
  .fonctionnement__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 26px;
    .fonctionnement__btn {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #eaeaea;
      padding: 20px;
      border-radius: 20px;
      text-decoration: none;
    }
    .fonctionnement__number {
      background-color: #9356dc;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
  .fonctionnement__btn-content {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: -30px;
    .icon {
      margin-left: 15px;
    }
  }
}

@media (min-width: 375px) {
  .fonctionnement__btns {
    flex-direction: row;
    width: 100%;
  }
  .fonctionnement__btn {
    width: 20%;
  }
}
