.fonctionnement {
  padding: 48px 20px;
  .fonctionnement__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 26px;
    .fonctionnement__btn {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #f7f7f7;
      padding: 20px;
      border-radius: 20px;
      text-decoration: none;
    }
    .fonctionnement__icon {
      color: black;
    }
    .fonctionnement__btn:hover .fonctionnement__icon {
      color: #9356dc;
    }
    .fonctionnement__number {
      background-color: #9356dc;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
    }

    .fonctionnement__text {
      color: black;
    }
  }
  .fonctionnement__btn-content {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: -30px;
    .icon {
      margin-left: 15px;
    }
  }
}

@media (min-width: 800px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    .fonctionnement__title {
      padding-left: 50px;
    }
    .fonctionnement__btns {
      flex-direction: row;
      width: 90%;
      justify-content: center;
    }
    .fonctionnement__btn {
      width: 323px;
    }
  }
}
