.reservation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 287px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

@media (min-width: 376px) {
  .reservation {
    gap: 50px;
  }
}
