.restaurants {
  background-color: #eaeaea;
  padding: 54px 20px;
  margin: auto;
}
.restaurants__list-card {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .restaurants__card {
    border: 1px;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    max-width: 500px;
    height: 250px;
    .restaurants__img {
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      height: 120px;
    }
    .restaurants__card-text {
      padding: 12px;
    }
    .restaurants__card-content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .restaurants__alert {
      position: absolute;
    }
    .star {
      margin-right: 20px;
    }
    .star:hover {
      animation: fill 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background: linear-gradient(
        to left,
        #9356dc,
        #b35cdc,
        #cf64dc,
        #e86edb,
        #ff79da
      );
      background: -webkit-linear-gradient(
        to left,
        #9356dc,
        #b35cdc,
        #cf64dc,
        #e86edb,
        #ff79da
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }
  }
}

@media (min-width: 376px) {
  .restaurants {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .restaurants__list-card {
    align-items: center;
    width: 90%;
    padding-top: 40px;
    gap: 40px;
    .restaurants__card {
      flex: 1;
      .restaurants__img {
        height: 180px;
      }
    }
  }
  .list-card__row {
    display: flex;
    gap: 90px;
    width: 100%;
    justify-content: center;
  }
}
