.restaurants {
  background-color: #f7f7f7;
  padding: 54px 20px;
  margin: auto;
}
.restaurants__list-card {
  display: flex;
  flex-direction: column;
  .list-card__row {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .restaurants__card {
    display: flex;
    flex-direction: column;
    border: 1px;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    max-width: 500px;
    height: 200px;
    .restaurants__img {
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      height: 120px;
    }
    .restaurants__card-text {
      padding: 12px;
    }
    .restaurants__card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .restaurants__alert {
      position: relative;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        bottom: 150px;
        position: absolute;
        right: 10px;
        border: 1px;
        background-color: #99e2d0;
        padding: 5px;
        border-radius: 2px;
        color: #008766;
      }
    }
  }
}

@media (min-width: 650px) {
  .restaurants {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .restaurants__list-card {
    align-items: center;
    width: 90%;
    padding-top: 40px;
    gap: 40px;

    .list-card__row {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 90px;
      width: 100%;
    }
    .restaurants__card {
      flex: 1;
      height: 250px;
      .restaurants__img {
        height: 180px;
      }
      .restaurants__alert {
        span {
          bottom: 200px;
        }
      }
    }
  }
}
