.main {
  display: flex;
  flex-direction: column;
  gap: 220px;
}
.main__restaurant {
  padding: 10px 20px;
  border: 1px;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: 220px;

  background-color: #f6f6f6;
}
.main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__img {
  object-fit: cover;
  height: 275px;
  width: 375px;
  position: absolute;
}

@media (min-width: 376px) {
  .main__img {
    width: 100%;
  }
  .main__restaurant {
    margin: 0 100px;
  }
}
